.game {
  display: flex;
  width: inherit;
  height: inherit;
}

.controls {
  position: absolute;
  top: 4px;
  right: 4px;
}

.board {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.center-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.matrix {
  position: relative;
  border: 2px solid var(--color-black);
}

.timer {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-black);
  justify-content: center;
  align-content: center;
  background: var(--color-white);
}

.timer-text {
  margin: auto;
  font-size: 32px;
}

.hold-text {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  background: var(--color-black);
  color: var(--color-white);
}

.hold-block {
  display: flex;
  width: 100px;
  height: 80px;
  border: 3px solid var(--color-black);
  border-right: 0;
}

.hold-shape {
  margin: auto;
}

.message {
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: 16px;
}

.message-subtitle {
  font-size: 18px;
  line-height: 80%;
  color: var(--color-black);
}

.message-title {
  font-size: 32px;
  color: var(--color-black);
}

.lines {
  margin-right: 4px;
  margin-bottom: 20px;
}

.lines-text {
  font-size: 18px;
  line-height: 80%;
  color: var(--color-black);
}

.lines-value {
  font-size: 32px;
  color: var(--color-black);
}

.player-tag {
  display: flex;
  padding: 2px 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

.player-name {
  margin: 0 8px;
}

.next-text {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  background: var(--color-black);
  color: var(--color-white);
}

.next-queue {
  display: grid;
  width: 100px;
  height: 400px;
  border: 3px solid var(--color-black);
  border-left: 0;
  grid-auto-rows: 1fr;
}

.next-block {
  display: flex;
  border-bottom: 3px solid var(--color-black);
}

.next-block:last-child {
  border-bottom: 0;
}

.next-shape {
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  border: 1px solid var(--color-black);
  aspect-ratio: 1;
}

.cell.mini {
  width: 20px;
}

.cell.Empty {
  background: var(--color-light-gray);
}

.cell.Empty.mini {
  visibility: hidden;
}

.cell.Ghost {
  background: var(--color-gray);
}

.cell.I {
  background: var(--color-cyan);
}

.cell.J {
  background: var(--color-blue);
}

.cell.L {
  background: var(--color-orange);
}

.cell.O {
  background: var(--color-yellow);
}

.cell.S {
  background: var(--color-green);
}

.cell.T {
  background: var(--color-purple);
}

.cell.Z {
  background: var(--color-red);
}
