.game {
  display: flex;
  width: inherit;
  height: inherit;
}

.board {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.matrix {
  border: 2px solid var(--color-black);
}

.hold-block {
  display: flex;
  width: 100px;
  height: 80px;
  border: 3px solid var(--color-black);
  border-right: 0;
}

.hold-shape {
  margin: auto;
}

.next-queue {
  display: grid;
  width: 100px;
  height: 400px;
  border: 3px solid var(--color-black);
  border-left: 0;
  grid-auto-rows: 1fr;
}

.next-block {
  display: flex;
  border-bottom: 3px solid var(--color-black);
}

.next-block:last-child {
  border-bottom: 0;
}

.next-shape {
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  border: 1px solid var(--color-black);
  aspect-ratio: 1;
}

.cell.next {
  width: 20px;
}

.cell.Empty {
  background: var(--color-light-gray);
}

.cell.Empty.next {
  visibility: hidden;
}

.cell.Ghost {
  background: var(--color-gray);
}

.cell.I {
  background: var(--color-cyan);
}

.cell.J {
  background: var(--color-blue);
}

.cell.L {
  background: var(--color-orange);
}

.cell.O {
  background: var(--color-yellow);
}

.cell.S {
  background: var(--color-green);
}

.cell.T {
  background: var(--color-purple);
}

.cell.Z {
  background: var(--color-red);
}
